.change-password-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    .chpw-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .mess {
            font-size: 14px;
        }
    }
}
